
#corps {
	margin:0 auto;
	background-color:#FFFFFF;
	font-family:verdana;
	font-size:11px;
        height: 500px;
	}
.centre {
         margin-top: 100px;
         min-height: 620px;
         border : 1px solid red; 
        }
h1{
	font-size:18px;
        
}


.panier{
        float : right;
	background-image:url(../img/sac.png);
        heigh: 10000px;
        width: 400px;
        background-repeat:no-repeat;

}

.logo{
    margin-left: 500px;
    padding-top: 80px;
}

.marge{
 
	background-image:url(../img/marge.png);
       
}

.navigationgauche ul{
 
	border: 1px dashed #ccc;
        border-left: 0px;
        border-right: 0px;
        padding-top: 30px;
       padding-bottom: 30px;
}

.navigationgauche {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: georgia;
  font-size: 20px;
  font-style: italic;
 
}

.navigationcategorie{
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: georgia;
  font-size: 25px;
  font-style: inherit;
 
   
}

.bas{
  background-image:url(../img/footer.png);
  font-family: georgia;
  font-size: 20px;
  height: 190px;
 padding-top: 20px;
}
    
.title_footer{
    padding-bottom: 20px;
    color: white;
}

.gauche_footer{
    margin-top: -50px;
    float:left; 
    width: 300px;
    padding-left: 70px;
}

.centre_footer{
    margin-top: -50px;
    float: left; 
    width: 400px;
    padding-left: 190px;
}

.droite_footer{
    margin-top: -50px;
    float:right;
    width: 300px;
    padding-right: 50px;
}
.papillon{
    float: right;
    padding-left: 900px;
    padding-top: 50px;
    position: relative;;
}
